html, body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

div#searchContainer {
    position: relative;
    width: 50vw;
    height: 40px;
    border-radius: 40px;
    display: flex;
    margin: 2vh auto auto auto;
}

div#iconContainer{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 5%;
}

i[class*="fa-solid"] {
    cursor: pointer;
    font-size: 1rem;
    vertical-align: middle;
    align-self: center;
}


input#searchInput {
    width: 50vw;
    padding: 0 5% 0 13%;
    height: 40px;
    border-radius: 40px;
    box-shadow: 0 4px 12px rgba(10, 10, 10, 0.08);
    border: 1px solid #ebecf0;
}

input#searchInput:focus {
    outline: none;
}

div#imageList {
    position: relative;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 5rem auto 2rem auto;
}

.imageListUnfound {
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

div#imageList>.imageContainer {
    width: 20vw;
    height: 30vh;
    overflow: hidden;
    margin: 1rem;
}

div#imageList>.imageContainer>img {
    width: 100%;
    height: 100%;
    transition: 0.4s ease-out;
}


div#imageList>.imageContainer>img:hover {
    width: 125%;
    height: 125%;
    cursor: pointer;
}


div.modal {
    position: fixed;
    left: 50%;
    top: 20%;
    transform: translate(-50%);
    width: 350px;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #fff;
    box-shadow: 0 0 0 50vmax rgba(0, 0, 0, .5);
    z-index: 10000;
}

i[class*='regular'] {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 25px;
    color: #fff;
    cursor: pointer;
}


div.modal>div:first-child {
    /* border: 5px solid; */
    position: relative;
    height: calc(350px / 2);
}

div.modal>div:first-child>img {
    /* border: 4px solid orange; */
    width: 100%;
    height: 100%;
}

div.modal>div:first-child>img:hover {
    width: 100%;
    height: 100%;
}

div.modal>div:nth-child(2) {
    /* border: 1px solid purple; */
    height: calc(350px / 2);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif, monospace;
}

div.modal p {
    margin: 0.3rem;
}


h1#heading {
    display: flex;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    justify-content: center;
    margin-top: 4vh;
    font-size: 140%;
    /* border: 1px solid; */
}

div#moreImages {
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
}

div#moreImages > button {
    width: 250px;
    height: 40px;
    background-color: #00ab6b;
    color: #fff;
    border: none;
    cursor: pointer;
}

div#moreImages > button:hover{
    background-color: #07794f;
}



/* mobile responsiveness  */
@media (width <= 600px) {
    input#searchInput {
        width: 50vw;
        padding: 0 5% 0 15%;
    }
}


@media (width <= 580px) {
    div#imageList{
        width: 100vw;
    }
    div#imageList>.imageContainer{
        width: 40vw;
    }
}

@media (width <= 480px) {
    input#searchInput {
        width: 50vw;
        padding: 0 5% 0 15%;
    }
}

@media (width <= 420px) {
    input#searchInput {
        width: 50vw;
        padding: 0 5% 0 17%;
    }
    div#imageList{
        width: 100vw;
    }
    div#imageList>.imageContainer{
        width: 100vw;
    }
}
